a {
    cursor: pointer;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.4em;
}

.showAlbumName{
	opacity: 1;
}

.square {
  border: 1px solid gray;
  overflow: hidden;
  position: relative;
  border-radius: 0.50rem;
  border: 1px solid green;
  
  > div {
    height: 100%;
    position: absolute;
    width: 100%;
    
    > div {
      display: table;
      height: 100%;
      width: 100%;
      
      > div {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
      }
   	}
  }
}